In [63]:
#Logic Building Task-2

In [14]:
#Given Sentence
Sents=input("Enter the Sentence:")
#Splitting the sentence using Split function
Single_words=Sents.split()
#Using Set function to remove duplicates and finding unique words
Set_words=set(Single_words)
#Printing the Count and Set of unique words
print(f"Count of words: {len(Set_words)}, Set of Unique Words: {Set_words}")

Enter the Sentence:red leather yellow leather red leather yellow leather
Count of words: 3, Set of Unique Words: {'yellow', 'leather', 'red'}

In [68]:
#Given Sentence
Sentence=input("Enter sentence:")
#Splitting the sentence using Split function
Words=Sentence.split()
#To print in order we manually loop through each words to find unique words
Unique_words=[]
for word in Words:
    if word not in Unique_words:
        Unique_words.append(word)
print(f"Unique Words Count: {len(Unique_words)}\nUnique Words: {Unique_words}")

Enter sentence:python is easy and python is powerful
Unique Words Count: 5
Unique Words: ['python', 'is', 'easy', 'and', 'powerful']

In [67]:
#Given Employees with salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000}
#Intializing the highest salary to 0 and name to none
highest_salary=0
highest_employee=None
#Loop through each employee to find the highest salary by comparison
for name in employees:
  #The first employee will have the highest salary at the start
  salary=employees[name]
  #Comparing each employee salary to its neighboring employee salary and switching the highest salary variable
  if salary > highest_salary:
    highest_salary=salary
    highest_employee=name
print(f"Highest Salary: {highest_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

In [35]:
#Given Attendance
attendance = ["P", "P", "A", "P", "P"]
#Counter Variable for present days
present_days=0
#Total no of days using len function
total_days=len(attendance)
#Loop through each days to find present and increment it
for days in attendance:
  if days=="P":
    present_days=present_days+1
print("Attendance Percentage:",present_days/total_days*100)

Attendance Percentage: 80.0

In [72]:
numbers = [45, 22, 89, 10, 66]
#Initializing both maximum and minimum with the first element of the list.
maximum=numbers[0]
minimum=numbers[0]
#Looping through each element for comparison
for num in numbers:
  if num>maximum:
    maximum=num
  if num<minimum:
    minimum=num
#Printing the results
print("List:",numbers)
print("Max:", maximum)
print("Min:",minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [65]:
#Given Phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210, 9876542310, 9124356789, 9876542310]
#Converting into a set to remove duplicates
unique_numbers=set(phone_numbers)
print("Unique Phone Numbers:",unique_numbers)

Unique Phone Numbers: {9876543210, 9123456789, 9876542310, 9124356789}

In [40]:
#Given Text
text="encyclopedia"
#Empty Dictionary
freq={}
#Loop through each letter in text to find the frequency and increment it
for letter in text:
  if letter in freq:
    freq[letter]+=1
  else:
    freq[letter]=1
print(freq)

{'e': 2, 'n': 1, 'c': 2, 'y': 1, 'l': 1, 'o': 1, 'p': 1, 'd': 1, 'i': 1, 'a': 1}

In [46]:
#Given List
List=[100, 120, 130]
#Converting List to Tuple using tuple() function
Tuple_list=tuple(List)
print("Tuple:",Tuple_list)

Tuple: (100, 120, 130)

In [49]:
#Given dictionary
movies={"seven": 7.5, "Anaconda": 8.4, "Fargo": 9.1, 1917: 9.4}
movie=input("Enter the movie:")
#Using in function to check the given word exists in the dictionary
if movie in movies:
  print("Movie exists")
else:
  print("Movie doesn't exists")

Enter the movie:Anaconda
Movie exists

In [62]:
#Given Marks
marks = [65, 75, 80, 70]
#Intialize sum to 0
sum=0
#Loop through each marks to sum it up
for mark in marks:
  sum=sum+mark
#Using len function to get the total number of marks from the list
total_count=len(marks)
print("Average:",sum/total_count)

Average: 72.5